@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    margin: 2px;
    padding: 2px;
}

.noto-sans-jp {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.block {
    display: inline;
}

.preview {
    text-align: left;
    width: 45%;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
    border-radius: 15px;
}

.num-inline {
    display: inline-block;
}

.hide {
    display: none;
}

.output-parent {
    display: block;
}

.output .block {
    display: flex;
    border: 3px solid rgb(9, 184, 190);
    border-radius: 10px;
    background-color: rgb(39, 79, 131);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
}

.output .block textarea {
    overflow-x: scroll;
    overflow-y: hidden;
    color: white;
    width: 100%;
    background-color: transparent;
    border-color: transparent;
}

.output p {
    display: block;
}